.carouselFirstBlock {
    margin-top: 100px;
    height: 86vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ----------------SWIPER-------------------- */

swiper-container {
    width: 100%;
    height: 86vh;
}

.plantPhoto {
    width: 100vh;
    height: 100%;
}

.pigsPhoto {
    height: 100%;
    width: 100vh;
}

.shopPhoto {
    height: 100%;
    width: 100vh;
}

/* ----------------RESOLUTION-------------------- */

@media (max-width: 767px) {
    .carouselFirstBlock {
        height: 50vh;
    }

    swiper-container {
        height: 50vh;
    }

    .carouselFirstBlock {
        margin-top: 45px;
    }

    .plantPhoto {
        width: 100%;
        height: 50vh;
    }
    
    .pigsPhoto {
        height: 50vh;
        width: 100vi;
    }
    
    .shopPhoto {
        height: 50vh;
        width: 100vi;
    }
}