.aboutUsBlock {
    margin: 0;
    padding: 0;
}

.aboutUsBlock::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 86vh;
    background-image: url('../../assets/photo-1495195134817-aeb325a55b65.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.aboutUsBlockWrapper {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    /* width: 80vh; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: flex-start;
}

.photo1 {
    height: 40vh;
}

.photo2 {
    height: 40vh;
    align-self: flex-start;
    margin-top: 80px;
}

.photo3 {
    height: 40vh;
    align-self: flex-start;
    margin-top: -120px;
}

.photo4 {
    height: 40vh;
    margin-top: -40px;
}

/* ----------------RESOLUTION-------------------- */

@media (max-width: 767px) {
    .aboutUsBlockWrapper {
        flex-wrap: unset;
        flex-direction: column;
    }

    .photo2 {
        align-self: unset;
        margin-top: unset;
    }
    
    .photo3 {
        align-self: unset;
        margin-top: unset;
    }
    
    .photo4 {
        margin-top: unset;
    }
}