.aboutUsBlock {
    margin: 0;
    padding: 0;
    height: calc(100vh - 100px);
}

.aboutUsBlock::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../../assets/wild-garlic-2160258_1920.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: -1;
}

.aboutUsBlockWrapper {
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    width: 40vi;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start; /* Используйте flex-start вместо center */
    align-items: baseline;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.aboutUsBlockWrapper *::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-image: url('../../assets/111.png');
    background-size: 350px 350px;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: -1;
}

/* ----------------CONTENT-------------------- */
.text1 {
    height: 20vi;
    width: 20vi;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
    position: relative;
    /* top:180px; */
}

.text2 {
    height: 20vi;
    width: 20vi;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
    position: relative;
}

.text3 {
    height: 20vi;
    width: 20vi;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
    position: relative;
    /* top:180px; */
}

.text4 {
    height: 20vi;
    width: 20vi;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
    position: relative;
}

/* ----------------RESOLUTION-------------------- */

@media (max-width: 767px) {
    .aboutUsBlockWrapper {
        flex-wrap: unset;
        flex-direction: column;
    }

    .text2 {
        align-self: unset;
        margin-top: unset;
    }
    
    .text3 {
        align-self: unset;
        margin-top: unset;
    }
    
    .text4 {
        margin-top: unset;
    }
}